/* Additional body parameters */
body {
	height: 70vh;
	margin: 20px 50px 20px 50px; 
	font-family: Helvetica, Arial;
}

#header {
	width: 100%;
	height: 5%;
	margin: 20px 10px;
}

#title {
	text-align:left;
	float:left;
	font-weight: bold;
	margin-left: 20px;
	font-size: 150%;
}

/* Small div for displaying login status and logging off */
#loggedStatus {
	text-align:right;
	float:right;
}

/* Grey box for showing logon prompt */
#greybox {
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	background:#000000;
	opacity: 0;
	visibility: hidden;
	
	/* Animations */
	transition:visibility 0.5s linear 0.5s,opacity 0.5s linear;
}
#greybox.visible {
	opacity: 0.5;
	visibility: visible;
}

/* Logon screen showing for not-logged users */
#logScreen {
	position: fixed;
    
    left: 50%;
    top: 50%;
	
	width: 400px;
	margin-left: -200px;
	
	height: 150px;
	margin-top:-75px;
	background: white;
	
	border: 2px solid;
	border-color: #CCCCCC;
    border-radius: 10px;
    
    text-align: center;
}

/* Small status field for reporting trouble with logging on popup */
#logonResponse {
	margin: 10px 10px 10px 10px;
	color: red;
}

/* Main  chat container */
#chatContainer {
	background: #D0D0D0;
	width: 100%;
	height: 100%;
	padding-bottom: 150px;
	border: 2px solid;
	border-color: #C0C0C0;
    border-radius: 5px;
}

/* Chat elements - including main window and users list */
#chatElements {
	width: 100%;
	height: 100%;
	margin-bottom: 30px;
}

/* Main chat window */
#chatWindow {
	overflow: hidden;
	background: #EEEEEE;
	height: 100%;
	margin: 10px 10px 10px 10px;
	border: 2px solid;
	border-radius: 5px;
    border-color: #C0C0C0;
}

/* Logged users list container */
#usersList {
  	width: 15%;	
  	height: 100%;
	background: #EEEEEE;
	float: right;
	margin: 0 10px 10px 10px;
	border: 2px solid;
    border-radius: 5px;
    border-color: #C0C0C0;
    overflow: auto;
	overflow-x: hidden;
}

/* Users list header */
#usersListHeader {
	padding-top:5px;
	background: #FFFFCC;
	opacity: 0.5;
	height:25px;
	text-align: center;
}

/* List of usernames */
#usersList #usernames {
	
}

/* Status bar */
#statusBar {
	width: 100%;
	background: #FFFFCC;
	opacity: 0.7;
	height:30px;
}

/* Sent messages list */
#messages {
	height: calc(100% - 30px);
	overflow-y: scroll;
}
#messages ul {
	padding: 0;
}
#messages li {
	list-style-type: none;
	padding-left: 20px;
}
#messages li:nth-child(odd) {
    background: #DDDDDD;
}
#messages li:nth-child(even) {
    background: #EEEEEE;
}
/* Message element style - for separating message and other parts */
#messages li span {
	color: #00D6B2;
}
/* Style of status updates - different than normal messages */
#messages li#status {
	background: #FFE87C;
}

/* Users list */
ul#users {
	padding: 0;
	margin: 20px 10px;
	list-style-type: none;
}
ul#users li {
	margin: 10px 10px;
	padding: 5px;
	font-weight: bold;
    border-radius: 5px;
    background: #D0D0D0;
    cursor: pointer; 
	cursor: hand;
}
ul#users li:hover {
    background: #00D6B2;
}

/* Message window - fixed height */
#messageWindow {
	height: 70px;
	background: #FFFFFF;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	border: 1px solid;
    border-radius: 5px;
    border-color: #DDDDDD;
}

/* Message form */
#messageForm {
	height:100%;
}

/* Message inputs */
#messageForm input[type=text] {
	font-size:150%;
	height:90%;
	width: 90%;
	margin: 0 1%;
	float:left;
	border: none;
	outline: none;
}
#messageForm input[type=submit] {
	width: 5%;
	height:100%;
	margin: 0 1%;
	float:right;
}
